[package]
name = "wasm"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib"]

[dependencies]
wasm-bindgen = "0.2"
mathcore = "0.3.1"
getrandom = { version = "0.3", features = ["wasm_js"] }
